<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.beanie.samples.streaming"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission> 
 

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity
            android:label="@string/app_name"
            android:name=".splash" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".HomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.beanie.samples.streaming.HOMEACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".radioPlayer"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.beanie.samples.streaming.radioPlayer" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".index"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.beanie.samples.streaming.index" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".fvrTags"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.beanie.samples.streaming.fvrTags" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <provider android:name="com.greystripe.android.sdk.AdContentProvider"
              android:authorities="com.beanie.samples.streaming.AdContentProvider"
              android:multiprocess="true"
              android:exported="false" />

	    <activity android:name="com.greystripe.android.sdk.AdView"
	              android:configChanges="keyboard|keyboardHidden|orientation" >
	        <intent-filter>
	            <category android:name="android.intent.category.LAUNCHER" />
	        </intent-filter>
	    </activity>
	    
	    
    </application>
</manifest>